.wd-round-rad{
  border-radius: 50%;
  width: 50px;
}
.wd-container{
  overflow: hidden;
}
.wd-left-element{
  width:20%;
  float: left;
}
.wd-right-element{
  width:80%;
  float: right;
}
.wd-left-element-img{
  float:left;
  position: absolute;
  left: 65px;
}
.wd-relat{
  position: relative;
  bottom: 10px;
  border-radius: 10px;
}
.wd-dot{
  float: right;
}
.wd-bord-round{
  border-radius: 10px;
}
.wd-bord-top{
  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
}
.wd-backGround{
  background-color: black;
}
.wd-border-s{
  border-style:solid;
  border-width: 1px;
  border-color: #282828;
}
.wd-pading-right{
  padding-right: 20px;
}
.wd-bord-bottom{
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
}
.wd-paddings{
  padding: 10px;
  
}
.wd-marg{
  margin-right: 48px;
}

