.wd-btn-background{
    border-color: rgb(94, 92, 92);
    color: white;
}
.wd-icon{
    z-index: 1px;
    position: relative;
    bottom: 90px;
 
}
.wd-text-div{
    position: absolute;
    width: 40%;

}
.wd-banner-img-edit{
    position: relative;
    bottom: 120px;
    left: 260px;
}
.wd-profile-img{
    position:relative;
    right: 140px;
    bottom: 20px;
}